<a href="https://colab.research.google.com/github/IngridRodrigues15/study_dermatology_dataset/blob/main/study_neural_network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# data set 
# https://archive.ics.uci.edu/ml/machine-learning-databases/dermatology/dermatology.data


-- Complete attribute documentation:
      Clinical Attributes: (take values 0, 1, 2, 3, unless otherwise indicated)
      
      1: erythema
      2: scaling
      3: definite borders
      4: itching
      5: koebner phenomenon
      6: polygonal papules
      7: follicular papules
      8: oral mucosal involvement
      9: knee and elbow involvement
     10: scalp involvement
     11: family history, (0 or 1)
     34: Age (linear)

     Histopathological Attributes: (take values 0, 1, 2, 3)
     12: melanin incontinence
     13: eosinophils in the infiltrate
     14: PNL infiltrate
     15: fibrosis of the papillary dermis
     16: exocytosis
     17: acanthosis
     18: hyperkeratosis
     19: parakeratosis
     20: clubbing of the rete ridges
     21: elongation of the rete ridges
     22: thinning of the suprapapillary epidermis
     23: spongiform pustule
     24: munro microabcess
     25: focal hypergranulosis
     26: disappearance of the granular layer
     27: vacuolisation and damage of basal layer
     28: spongiosis
     29: saw-tooth appearance of retes
     30: follicular horn plug
     31: perifollicular parakeratosis
     32: inflammatory monoluclear inflitrate
     33: band-like infiltrate
      
8. Missing Attribute Values: 8 (in Age attribute). Distinguished with '?'.

9. Class Distribution:
       Database:  Dermatology
       
       Class code:   Class:                  Number of instances:
       1             psoriasis			    112
       2             seboreic dermatitis             61
       3             lichen planus                   72
       4             pityriasis rosea                49
       5             cronic dermatitis               52    
       6             pityriasis rubra pilaris        20

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
dataset = pd.read_csv('dermatology.data', header=None)
dataset.sample(5)

     0   1   2   3   4   5   6   7   8   ...  26  27  28  29  30  31  32  33  34
117   2   2   3   2   2   2   0   3   0  ...   3   3   2   0   0   2   2  52   3
110   2   2   2   3   2   0   0   0   3  ...   0   0   0   0   0   2   0  41   1
281   2   2   1   0   0   0   0   0   0  ...   0   2   0   0   0   2   0  27   4
197   3   2   2   0   0   0   0   0   0  ...   0   2   0   0   0   2   0  50   2
365   3   2   2   0   0   0   0   0   3  ...   0   0   0   0   0   3   0  35   1

[5 rows x 35 columns]

**1° passo** 

*   Definir qual a pergunta que será respondida com base nesse dataset?
  *  Nesse caso qual a doença de pele mais provavel de um determinado paciente ?

In [ ]:
# Bibiliotecas de IA

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix

In [ ]:
# Dados de treinamento 


X_data = dataset.loc[:,0:32].values   # Pegando todos os valores da primeira coluna ate a 32
y_data = dataset.loc[:,34].values    # Pegando todos os valores da primeira linha ate a 34


#Separamos o modelo em dados de treinamento e dados para teste 
#Utilizaremos 20% para teinamento 
X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size=.2)

## Teste KNN

In [ ]:
# n_neighbors -> Quantidade de vizinhos utilizados para a classificação
model_knn = KNeighborsClassifier(n_neighbors=5)
model_knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
#Avaliando a acuracia do modelo 
model_knn.score(X_test, y_test)

0.972972972972973

In [ ]:
#Criando a matriz de confusão 

pred = model_knn.predict(X_test)

confusion_matrix(y_test, pred)

array([[25,  1,  0,  0,  0,  0],
       [ 0, 11,  0,  1,  0,  0],
       [ 0,  0, 12,  0,  0,  0],
       [ 0,  0,  0, 12,  0,  0],
       [ 0,  0,  0,  0,  8,  0],
       [ 0,  0,  0,  0,  0,  4]])

## Teste Rede Neural

In [ ]:
# Definindo que a Rede neural terá 20 camadas ocultas (hidden_layer_sizes)
# E utilizará a sigmoide logistica para avaliação dos dados (activation)
# Maximo de vezes que o data set é utilizado para ajuste de peso (max_iter)
model_nn = MLPClassifier(hidden_layer_sizes=(20,), activation='logistic', max_iter=900)
model_nn.fit(X_train, y_train)

MLPClassifier(activation='logistic', alpha=0.0001, batch_size='auto',
              beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(20,), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=900,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=None, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [ ]:
#Validando a acuracia do modelo

model_nn.score(X_test, y_test)

0.9864864864864865

In [ ]:
#Matrix de confusão 
pred = model_nn.predict(X_test)

confusion_matrix(y_test, pred)

array([[26,  0,  0,  0,  0,  0],
       [ 0, 12,  0,  0,  0,  0],
       [ 0,  0, 12,  0,  0,  0],
       [ 0,  1,  0, 11,  0,  0],
       [ 0,  0,  0,  0,  8,  0],
       [ 0,  0,  0,  0,  0,  4]])

## Teste Árvore de Decisão

In [ ]:
# max_depth -> Maxima profundidade de ramificação da arvore 
model_tree = DecisionTreeClassifier(max_depth=40)
model_tree.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=40, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
# Acuracia

model_tree.score(X_test, y_test)

0.9324324324324325

In [ ]:
# Matrix de confusão 

pred = model_tree.predict(X_test)

confusion_matrix(y_test, pred)

array([[26,  0,  0,  0,  0,  0],
       [ 1, 10,  0,  0,  0,  1],
       [ 0,  0, 12,  0,  0,  0],
       [ 0,  2,  0, 10,  0,  0],
       [ 1,  0,  0,  0,  7,  0],
       [ 0,  0,  0,  0,  0,  4]])

In [ ]:
idx_errors = (y_test != pred) # índices dos erros de classificação
y_test[idx_errors], pred[idx_errors] # elementos errados correspondentes

(array([2, 4, 4, 5, 2]), array([1, 2, 2, 1, 6]))